.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: inherit;
  inline-size: 100%;
}

.bottom {
  position: sticky;
  bottom: 20px;
  left: 0;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  align-items: center;
  gap: 20px;
  inline-size: 100%;
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  max-inline-size: inherit;
}

.button {
  display: flex;
  justify-content: end;
}

@media (min-width: 476px) {
  .bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .cart {
    inline-size: clamp(22.125rem, 20.818rem + 6.534vw, 25rem);
  }

  .button {
    display: flex;
  }
}
