.save {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--outline-color);
  border-radius: 8px;
  padding: 8px;
  color: inherit;
  font-size: 10px;
  background-color: var(--bg-color-white);
  inline-size: 68px;
  block-size: 60px;
}
