.items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 2px solid var(--bg-color-white);
  padding-bottom: 8px;
  inline-size: 100%;
}

.groupRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: clamp(0.625rem, 0.568rem + 0.284vw, 0.75rem);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.2;
}

.label {
  font-weight: 500;
  font-size: var(--font-size-md);

  &:hover {
    cursor: pointer;
  }
}

.property {
  font-size: var(--font-size-xs);
}

.price {
  font-weight: 600;
}
