.notification {
  display: block;
  background-color: transparent;
  background-image: url("/icons/bell.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: var(--header-icon-size);
  block-size: var(--header-icon-size);
}
