.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--color-light-blue);
}

.avatar {
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  background-image: url("/icons/avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
