.hello {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  gap: 14px;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcomeText {
  color: var(--text-color-gray);
  font-weight: bold;
}

.userName {
  color: var(--text-color-dark);
  font-weight: bold;
}
