.button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0px 20px;
  overflow: hidden;
  color: var(--color-dark);
  font-family: var(--font-manrope-sans);
  font-weight: 600;
  font-size: clamp(0.875rem, calc(0.847rem + 0.142vw), 0.938rem); /* min: 14px, max: 15px */;
  block-size: 40px;
  inline-size: 100%;
}

@media(min-width: 769px) {
  .sm {
    inline-size: 130px;
  }

  .md {
    inline-size: 170px;
  }

  .lg {
    inline-size: 200px;
  }

  .full {
    inline-size: 100%;
  }
}

.carrot {
  color: #ffffff;
  background-color: var(--color-carrot);

  &:hover:not(:disabled) {
    background-color: var(--color-carrot-hover);
  }
}

.light-blue {
  background-color: var(--color-light-blue);

  &:hover:not(:disabled) {
    background-color: var(--color-light-blue-hover);
  }
}

.blue {
  background-color: var(--color-blue);

  &:hover:not(:disabled) {
    background-color: var(--color-blue-hover);
  }
}

.red {
  background-color: var(--color-red);

  &:hover:not(:disabled) {
    background-color: var(--color-red-hover);
  }
}

.gray {
  background-color: var(--color-light-gray);

  &:hover:not(:disabled) {
    background-color: var(--color-light-gray-hover);
  }
}

.filled, .transparent {
  border: none;
}

.filled.blue, .filled.carrot, .filled.red {
  color: #ffffff;
}

.outline {
  background-color: #ffffff;
  border: 1px solid;

  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.outline.carrot {
  border-color: var(--color-carrot);
  color: var(--color-carrot);

  &:hover:not(:disabled) {
    border-color: var(--color-carrot-hover);
    color: var(--color-carrot-hover);
  }
}

.outline.light-blue {
  border-color: var(--color-light-blue);
  color: var(--color-light-blue);

  &:hover:not(:disabled) {
    border-color: var(--color-light-blue-hover);
    color: var(--color-light-blue-hover);
  }
}

.outline.blue {
  border-color: var(--color-blue);
  color: var(--color-blue);

  &:hover:not(:disabled) {
    border-color: var(--color-blue-hover);
    color: var(--color-blue-hover);
  }
}

.outline.red {
  border-color: var(--color-red);
  color: var(--color-red);

  &:hover:not(:disabled) {
    border-color: var(--color-red-hover);
    color: var(--color-red-hover);
  }
}

.outline.gray {
  border-color: var(--color-gray);
  color: var(--color-gray);

  &:hover:not(:disabled) {
    border-color: var(--color-gray-hover);
    color: var(--color-gray-hover);
  }
}

.transparent {
  background-color: transparent;

  &:hover:not(:disabled) {
    background-color: transparent;
  }
}

.transparent.carrot {
  color: var(--color-carrot);
}

.transparent.light-blue {
  color: var(--color-light-blue);
}

.transparent.blue {
  color: var(--color-blue);
}

.transparent.red {
  color: var(--color-red);
}

.transparent.gray {
  color: var(--color-gray);
}