.actionIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--text-color-dark);
  background-color: var(--bg-color-white);

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
    transform: none;
    cursor: no-drop;
  }
}

.sm {
  padding: 6px;
  inline-size: 30px;
  block-size: 30px;
}

.md {
  padding: 8px;
  inline-size: 40px;
  block-size: 40px;
}

.lg {
  padding: 10px;
  inline-size: 50px;
  block-size: 50px;
}

.xl {
  padding: 12px;
  inline-size: 60px;
  block-size: 60px;
}

.circle {
  border-radius: 50%;
}

.box {
  border-radius: 6px;
}

.shadow {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}
