.actionIcon {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  overflow: hidden;
  color: var(--color-dark);
  transition: transform 0.08s linear;

  &:not(:disabled):hover {
    transform: scale(110%);
  }
  &:disabled {
    box-shadow: none;
    color: var(--dimmed);
  }
}

.sm {
  padding: 6px;
  inline-size: 30px;
  block-size: 30px;
}

.md {
  padding: 8px;
  inline-size: 40px;
  block-size: 40px;
}

.lg {
  padding: 10px;
  inline-size: 50px;
  block-size: 50px;
}

.xl {
  padding: 12px;
  inline-size: 60px;
  block-size: 60px;
}

.circle {
  border-radius: 50%;
}

.box-br-8 {
  border-radius: 8px;
}

.box-br-12 {
  border-radius: 12px;
}

.shadow {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.white {
  background-color: var(--color-white);
}

.dark {
  background-color: var(--color-dark);
}

.light-blue {
  background-color: var(--color-light-blue);
}

.transparent {
  background-color: transparent;
}

.outline {
  border: 1px solid var(--color-light-gray);
}

.label {
  font-size: 9px;
}
