.backButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-blue);
  border-radius: 16px;
  color: var(--color-blue);
  font-weight: bold;
  font-size: var(--font-size-xs);
  background-color: var(--bg-color-white);
  inline-size: clamp(5rem, 4.893rem + 0.536vw, 5.375rem);
  block-size: clamp(1.625rem, 1.568rem + 0.284vw, 1.75rem);
}
