.price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 0 18px;
  background-color: var(--color-white);
  inline-size: 100%;
  block-size: 60px;
}

.group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-10);
}

.items {
  font-size: var(--font-size-md);
}

.total {
  font-size: var(--font-size-xl);
}
