.loader {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  animation: rotate 1s linear infinite;
}

.sm {
  width: 18px;
  height: 18px;
}

.md {
  width: 22px;
  height: 22px;
}

.lg {
  width: 26px;
  height: 26px;
}

.white {
  border-top-color: var(--color-white);
  border-right-color: var(--color-white);
  border-bottom-color: var(--color-white);
}

.dark {
  border-top-color: var(--color-dark);
  border-right-color: var(--color-dark);
  border-bottom-color: var(--color-dark);
}

.gray {
  border-top-color: var(--color-gray);
  border-right-color: var(--color-gray);
  border-bottom-color: var(--color-gray);
}

.light-gray {
  border-top-color: var(--color-light-gray);
  border-right-color: var(--color-light-gray);
  border-bottom-color: var(--color-light-gray);
}

.blue {
  border-top-color: var(--color-blue);
  border-right-color: var(--color-blue);
  border-bottom-color: var(--color-blue);
}

.light-blue {
  border-top-color: var(--color-light-blue);
  border-right-color: var(--color-light-blue);
  border-bottom-color: var(--color-light-blue);
}

.green {
  border-top-color: var(--color-green);
  border-right-color: var(--color-green);
  border-bottom-color: var(--color-green);
}

.carrot {
  border-top-color: var(--color-carrot);
  border-right-color: var(--color-carrot);
  border-bottom-color: var(--color-carrot);
}

.red {
  border-top-color: var(--color-red);
  border-right-color: var(--color-red);
  border-bottom-color: var(--color-red);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
