.loader {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  animation: rotate 1s linear infinite;
}

.sm {
  width: 18px;
  height: 18px;
}

.md {
  width: 22px;
  height: 22px;
}

.lg {
  width: 26px;
  height: 26px;
}

.blue {
  border-top-color: #a3c5f6;
  border-right-color: #a3c5f6;
  border-bottom-color: #a3c5f6;
}

.white {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

.gray {
  border-top-color: var(--text-color-gray);
  border-right-color: var(--text-color-gray);
  border-bottom-color: var(--text-color-gray);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
