.header {
  border-bottom: 1px solid var(--outline-color);
  background-color: var(--bg-color-white);
  block-size: clamp(3.75rem, 3.523rem + 1.136vw, 4.25rem);
}

.header__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.hello {
  display: flex;
  flex-direction: column;
}

.header__right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: clamp(0.5rem, 0.429rem + 0.357vw, 0.75rem);
}
